[edit]
    command = "code"
    args = ["--wait"]

[diff]
    command = "code"
    args = ["--wait", "--diff", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[merge]
    command = "code"
    args = ["--wait", "--diff", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]


[test]
    p = {{ (ejsonDecrypt "test.ejson").database_password }}